/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body
{
   background-image: url('../img/body_background.png');
}

.card
{
   background-color: white;
   padding-top: 1px;
   padding-bottom: 15px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 5px;
   box-shadow: 5px 5px 5px @gray-light;
}

.margin-top-left
{
   margin-top: 5px;
   margin-left: 5px;
}

.margin-bottom-right
{
   margin-bottom: 5px;
   margin-right: 5px;
}

input[type="submit"]
{
   .btn;
   .btn-primary;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.logo-header
{
   background-color: white;
}

.logo
{
   padding-top: 10px;
   padding-bottom: 10px;
}

.page-header
{
   margin: 0;
   margin-bottom: 10px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

#mc-embedded-subscribe-form
{
   .form-inline;
}

#mce-EMAIL
{
   .form-control;
   display: inline-block !important;
   width: 70% !important;
   margin-right: 10px !important;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

/* ==========================================================================
   bbPress
   ========================================================================== */

#bbpress-forums
{
   button
   {
      .btn;
      .btn-primary;
   }
   select
   {
      .form-control;
   }
   input[type="text"]
   {
      .form-control;
   }
   #subscription-toggle
   {
      display: block;
      float: right;
   }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
