/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body
{
   background-image: url('../img/body_background.png');
}

a:hover
{
   text-decoration: none;
}

@card-padding: 15px;

.card
{
   background-color: white;
   padding-top: 1px;
   padding-bottom: @card-padding;
   padding-left: @card-padding;
   padding-right: @card-padding;
}

.card.padding-top
{
   padding-top: @card-padding;
}

.margin-bottom-left
{
   margin-bottom: @padding-base-vertical;
   margin-left: @padding-base-horizontal;
}

.margin-bottom-right
{
   margin-bottom: @padding-base-vertical;
   margin-right: @padding-base-horizontal;
}

.vertical-gutter
{
   width: 100%;
   height: @grid-gutter-width;
   clear: both;
}

input[type="submit"]
{
   .btn;
   .btn-primary;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.logo-header
{
   background-color: white;
}

.logo
{
   padding-top: 10px;
   padding-bottom: 10px;
}

.page-header
{
   margin: 0;
   margin-bottom: 10px;
}

.navbar
{
   font-family: @font-family-sans-serif;
   font-size: @font-size-small;
   font-weight: bold;
}

.wp-menu-item
{
   text-transform: uppercase;

   .dropdown-menu > li
   {
      text-transform: none;
   }
}

.lavalamp-object
{
   background-color: @default-navbar-inverse-link-active-bg;
}

#menu-about
{
   font-size: 18px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.more-link
{
   .btn;
   .btn-primary;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

#mc-embedded-subscribe-form
{
   .form-inline;
}

#mce-EMAIL
{
   .form-control;
   display: inline-block !important;
   width: 70% !important;
   margin-right: 10px !important;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Refined Images - Overlayed with title and highlightable
   ========================================================================== */
.refined-image-container
{
   border: 1px solid @gray-lighter;
}

.refined-image-overlay
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   opacity: 0.0;
}

.refined-image-title
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   margin: 0;
   padding: 8px;
   background-image: url('../img/semi_transparent_black_75.png');
   color: white;
   font-weight: bold;
}

/* ==========================================================================
   Blog Images
   ========================================================================== */
.wp-caption
{
   padding: @padding-base-horizontal @padding-base-horizontal @padding-base-vertical @padding-base-horizontal;
   background-color: black;
}

.wp-caption img
{
   border: 1px solid #333;
}

.wp-caption-text, .thumbnail .caption
{
   color: white;
}

/* ==========================================================================
   Blog Quotes
   ========================================================================== */
blockquote
{
   border: none;
   padding-left: 74px;
   padding-top: 0;
   background: url('../img/quotation_marks.png') no-repeat 0 6px;
   p
   {
      font-size: @font-size-medium-large;
      font-weight: normal;
      line-height: @line-height-base;
   }
}

.refined-blog-quote
{
   font-size: @font-size-large;
   padding: 0 @line-height-computed;
}

p.quote
{
   .refined-blog-quote;
}

div.quote
{
   .refined-blog-quote;
}

/* ==========================================================================
   Masonry
   ========================================================================== */
.masonry-item
{
   margin-bottom: @grid-gutter-width;
}

.masonry-item #thumbnail
{
   width: 100%;
}

.masonry-item.refined-user-image
{
   width: 30%;
}
.masonry-item.refined-user-quote
{
   width: 45%;
}
#front-page-images .masonry-item
{
   width: 18% !important;
}
#front-page-quotes .masonry-item
{
   width: 30% !important;
}

/* ==========================================================================
   User Generated Images
   ========================================================================== */
.refined-user-image
{
   .refined-image-container;

   .refined-image-title
   {
      font-weight: normal;
   }
}

/* ==========================================================================
   User Generated Quotes
   ========================================================================== */
.refined-user-quote
{
   .quote
   {
      margin-bottom: @line-height-computed;
   }

   #author
   {
      margin-left: 50px;
      color: @gray-light;
   }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

/* ==========================================================================
   Front Page
   ========================================================================== */
.front-post
{
   .refined-image-container;
   display: block;
   position: relative;
}

.front-post #overlay
{
   .refined-image-overlay
}

.front-post #wrapper
{
   position: relative;
   width: 100%;
   padding-bottom: 66%;
}

.front-post #thumbnail
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.front-post #title
{
   .refined-image-title;
}

/* ==========================================================================
   Gravity Forms
   ========================================================================== */
.gform_body
{
   input[type="text"]
   {
      .form-control;
   }
   select
   {
      .form-control;
   }
   textarea
   {
      .form-control;
   }
}

/* ==========================================================================
   bbPress
   ========================================================================== */
#bbpress-forums
{
   button
   {
      .btn;
      .btn-default;
   }
   select
   {
      .form-control;
   }
   input[type="text"]
   {
      .form-control;
   }
   #subscription-toggle
   {
      display: block;
      float: right;
   }
   .forum-titles
   {
      color: @gray-light;
   }
   .avatar
   {
      margin-bottom: 0 !important;
   }
}

/* ==========================================================================
   BuddyPress
   ========================================================================== */
#buddypress
{
   /* Base */
   textarea, select
   {
      .form-control;
   }
   input[type="text"]
   {
      .form-control;
   }
   input[type="submit"]
   {
      .btn;
      .btn-primary;
   }
   a.button
   {
      .btn;
      .btn-default;
      .btn-xs;
   }
   input[type="file"]
   {
      margin-bottom: @line-height-computed;
   }

   /* Nav / Tabs */
   #object-nav
   {
      color: @navbar-inverse-color;
      background-color: @navbar-inverse-bg;
      border-radius: @border-radius-base;
      padding: 2px;
      font-family: @font-family-sans-serif;

      > ul
      {
         .nav;
         .nav-pills;
         .nav-justified;

         li > a
         {
            color: @navbar-inverse-link-color;
            padding-top: 6px;
            padding-bottom: 6px;
         }
         li > a:hover
         {
            background-color: lighten(@navbar-inverse-bg, 10%);
         }
         li.selected > a
         {
            color: @default-navbar-inverse-link-active-color;
            background-color: @default-navbar-inverse-link-active-bg;
         }
         li > a > span
         {
            display: none;
         }
      }
   }
   /* Profile */
   .profile
   {
      .base > h4
      {
         display: none;
      }
   }
   .profile-fields
   {
      tr.alt
      {
         background-color: #f5f5f5;
      }
      td.label
      {
         font-size: @font-size-base;
         color: @text-color;
         border-right: none;
         background-color: transparent;
      }
      td.data
      {
         background-color: transparent;
      }
   }
   #profile-edit-form .button-nav
   {
      display: none;

   }
   /* Messages */
   #message-threads
   {
      .thread-info
      {
         width: 45% !important;
      }
      .thread-options
      {
         width: 18% !important;
      }
   }
   /* Register */
   #profile-details-section
   {
      display: none;
   }

   /* Fix Inline Selects */
   #activity-filter-by, #members-friends
   {
      display: inline-block !important;
      width: auto !important;
   }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter
{
   display: block;
   margin: 0 auto @padding-base-vertical auto;
}
.alignleft
{
   float: left;
   .margin-bottom-right;
}
.alignright
{
   float: right;
   .margin-bottom-left;
}
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
