body.login
{
	background-color: black;
}

body.login #login h1 a
{
   background-image: url('../img/logo-no-text.png');
   background-size: 160px 190px;
   width: 160px;
   height: 190px;
}

#loginform
{
	background-color: rgba(255, 255, 255, 0.25);
}

#loginform p label, #nav a, #backtoblog a
{
	color: white !important;
	font-weight: bold;
}