body.login
{
	background-image: url('../img/login-background.jpg');
}

body.login #login h1 a
{
   background-image: url('../img/logo-no-text.png');
}

#loginform
{
	background-color: rgba(255, 255, 255, 0.25);
}

#loginform p label, #nav a, #backtoblog a
{
	color: white !important;
	font-weight: bold;
}